.mainDiv{
    width: 400px;
    /* height: 10rem; */
    height: 25rem;
    margin-top: 3%;
    padding: 3%;
}
.outputScreen{
        height: 50px;
        border: 2px solid;
}
.col-4{
    padding: 1%;
}
.buttonStyle{
height: 65px;
margin-top: 8px !important;
width: 100%;
}
.buttonStyle1 {
    height: 65px;
    margin-top: 8px !important;
    width: 100%;
}